.navbar {

    position: absolute;
    width: 288px;
    height: 1029px;
    left: -49px;
    top: -5px;
    
    background: #BF2F1B;
    border-radius: 50px;
    
    }

    .bm-item {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 10px;
        color: #FFFFFF;
        transition: color 0.2s;
      }
      
      .bm-item:hover {
        color: white;
      }
      
      .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
      }
      
      .bm-burger-bars {
        background: #FFFFFF;
      }
      
      .bm-cross-button {
        height: 24px;
        width: 24px;
      }
      
      .bm-cross {
        background: #FFFFFF;
      }
      
      .bm-menu {
          position: absolute;
          width: 288px;
          height: 1029px;
          left: -30px;
          top: -5px;
          bottom: 5px;
          
          background: #BF2F1B;
          border-radius: 50px;
      }
      
      .bm-morph-shape {
        fill: #373a47;
      }
      
      .bm-item-list {
        color: #b8b7ad;
      }
      
      .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }
      
      .menu-item {
          text-align: center;
          padding-top: 45px;
      }
      
      .logo {
          padding-top: 20px;
          text-align: center;
      }
      
      .heading {
          font-size: large;
          font-weight: 30px;
          text-align: center;
      }
      